<tr class="border-t" {{ attributes }}>
    <td class="px-6 py-4"><input type="checkbox" /></td>
    <td class="px-6 py-4">
        <div class="flex items-center gap-2">
            <img src="https://flagcdn.com/24x18/{{ translation.languageCode }}.png" class="w-5 h-3" alt="{{ translation.language }} flag" />
            <div class="text-blue-600 font-bold">{{ translation.language }}</div>
        </div>
    </td>
    <td class="px-6 py-4 text-xs font-bold">
        <twig:Common:Status :status="translation.status" />
    </td>
    <td class="px-6 py-4">
        <twig:Common:Progress :progress="translation.progress" />
    </td>
    <td class="px-6 py-4">
        <twig:Document:Translation:Translators :translators="translation.translators" />
    </td>
    <td class="px-6 py-4 flex gap-2">
        <twig:Document:Translation:Actions :translation="translation" :documentId="documentId" />
    </td>
</tr>
